@import "tailwindcss";

:root {
  --background: #effbf9;
  --foreground: #040b0a;
  --primary: #33d1bc;
  --secondary: #85eadd;
  --accent: #60ebd9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161c1d;
    --foreground: #f4fbfa;
    --primary: #2eccb7;
    --secondary: #157a6d;
    --accent: #149f8c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
